################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LicenseServer/bin
/LicenseServer/obj
/.vs/LicenseServer/
/LicenseServer.Application/bin
/LicenseServer.Application/obj
/LicenseServer.Domain/bin
/LicenseServer.Domain/obj
/LicenseServer.Infrastructure/bin
/LicenseServer.Infrastructure/obj
/LicenseServer.Models/bin
/LicenseServer.Models/obj
